.team-country-map {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: white;
  border: 1px solid #333;
  overflow: auto;
  padding: 10px;
  z-index: 999;
}
.team-country-map button {
  margin-bottom: 10px;
}
